--extra-index-url https://download.pytorch.org/whl/cu118
torch==2.7.0+cu118
torchaudio==2.7.0+cu118
torchvision==0.22.0+cu118

clip @ git+https://github.com/openai/CLIP.git@d50d76daa670286dd6cacf3bcd80b5e4823fc8e1
ffmpeg-python==0.2.0
surya-ocr==0.14.2
thop==0.1.1.post2209072238
yt_dlp==2025.5.22
urllib3==2.2.2